* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #D6EBDD; /* Verde pálido */
    font-family: 'Crimson Text', serif; /* Fonte para textos */
    color: #000000; /* Cor do texto */
    font-size: 26px;
}


.logo-img {
    height: auto; /* Mantém a proporção */
    display: block; /* Garante que as margens funcionem corretamente */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 180px; /* Ajuste conforme necessário */
    width: 100%;
}

header {
    position: fixed;
    top: 0px; /* Ajuste para não colidir com a logo */
    left: 0;
    width: 100%;
    z-index: 1000; 
    background: #D6EBDD; 
    padding: 5px 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Pequeno sombreamento para destaque */
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif; 
    color: #000000;
}

nav a {
  font-family: 'Cinzel', serif;
  font-size: 24px;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
    transition: .4s;
}


a:hover{
    color: #314d34;
    transform: scale(1.1);
}

header li:hover{
    color: #314d34;
    transform: scale(1.1);
    transition: .4s;
}

/* Seções para dar espaçamento padrão */
section {
    padding: 80px 80px;
    text-align: justify;
}

.separator {
    width: 95%;
    height: 3px;
    background-color: #385B4F; /* Cor personalizada */
    margin: 0px auto; /* Centraliza e adiciona espaçamento */
    border-radius: 5px; /* Borda arredondada para um visual mais suave */
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.txt-inicio a {
  display: flex;
  justify-content: center;
}

.btn{
  padding: 22px 90px;          /* Ajuste o tamanho aqui */
  border: none;                /* Remove a borda */
  border-radius: 8px;
  background: #385B4F;
  color: white;
  font-size: 16px;             /* Ajuste o tamanho da fonte aqui */
  letter-spacing: .08em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.25;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: background-color .6s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      top: var(--mouse-y);
      left: var(--mouse-x);
      transform-style: flat;
      transform: translate3d(-50%,-50%,0);
      background: rgba(white,.1);
      border-radius: 100%;
      transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        background: #4d816e;
        color: white;
    }
    &:active {
      &:after {
        width: 300px;
        height: 600px;
      }
    }
  }

  .Modalidade{
    font-size: 29px;
  }

  .disposição{
    font-size: 35px;
  }


@media screen and (min-width: 992px) {
  #atuacao ul {
    columns: 2;         /* divide em 2 colunas */
    column-gap: 90px;   /* espaço entre colunas */
  }
}